<div style="text-align:center" id="map-wrapper">
    <div id="map"></div>
    <div id="legend">
      <mat-card class = "tp-card">
        <mat-card-header>
           <mat-card-title>Legenda</mat-card-title>
           <mat-card-subtitle>Legenda elementelor chimice</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div class="legend-items">
            <div class="legend-item">
              <div>BC</div>
              <img src="../../assets/point1.svg">
            </div>
            <div class="legend-item">
              <div>CO</div>
              <img src="../../assets/point2.svg">
            </div>
            <div class="legend-item">
              <div>NO2</div>
              <img src="../../assets/point3.svg">
            </div>
            <div class="legend-item">
              <div>O3</div>
              <img src="../../assets/point4.svg">
            </div>
            <div class="legend-item">
              <div>PM10</div>
              <img src="../../assets/point5.svg">
            </div>
            <div class="legend-item">
              <div>PM25</div>
              <img src="../../assets/point6.svg">
            </div>
            <div class="legend-item">
              <div>SO2</div>
              <img src="../../assets/point7.svg">
            </div>
          </div>
        </mat-card-content>
     </mat-card>
    </div>
  </div>
  